.app-Wrapper {
    height: 100%;
    margin: 0;
    font-family: Ubuntu;
    font-size: 22px;
}

.app-Wrapper body {
    margin: 0;
}

.app-Wrapper .App {
    display: flex;
    padding: 0px;
    margin: 0;
}