.react-chatbot {
    font-family: Arial, Verdana, Helvetica;
  }
  
  .react-chatbot-kit-chat-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #00A59C;
    font-family: Arial;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: #fff;
    padding: 12.5px;
    font-weight: bold;
  }
  
  .react-chatbot-kit-chat-container {
    position: absolute;
    right: 5vh;
    width: 275px;
    bottom: 0px;
    box-shadow: 1px 3px 5px #898D8D;
  }
  
  .react-chatbot-kit-chat-inner-container {
    height: 500px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .react-chatbot-kit-chat-message-container {
    padding: 0 17.5px 10px 17.5px;
    overflow: scroll;
    height: 424px;
    font-family: Arial, Verdana, Helvetica;
  }
  
  .react-chatbot-kit-chat-input-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
  }
  
  .react-chatbot-kit-chat-input {
    width: 100%;
    padding: 12.5px;
    border: none;
    font-size: 0.85rem;
    border-top: 1px solid #d8d8d8;
    border-bottom-left-radius: 5px;
  }
  
  .react-chatbot-kit-chat-input-form {
    width: 100%;
    display: flex;
  }
  
  .react-chatbot-kit-chat-input::placeholder {
    color: #585858;
  }
  
  .react-chatbot-kit-chat-btn-send {
    background-color: #00A59C;
    width: 100px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .react-chatbot-kit-chat-btn-send-icon {
    fill: #fff;
    width: 15px;
  }
  
  .react-chatbot-kit-user-chat-message-container {
    display: flex;
    margin: 15px 0;
    justify-content: flex-end;
  }
  
  .react-chatbot-kit-user-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 12.5px;
    background-color:  #DF807E;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-chatbot-kit-user-avatar-icon {
    width: 15px;
    height: 15px;
  }
  
  .react-chatbot-kit-user-chat-message {
    background-color:  #DF807E;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    text-align: left;
  }
  
  .react-chatbot-kit-user-chat-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #DF807E;
    position: absolute;
    right: -7px;
    top: 13px;
  }

  .react-chatbot-kit-chat-bot-avatar-container {
    Background-color: #00A59C;
  }

  .react-chatbot-kit-chat-bot-avatar-icon {
    Background-color: #00A59C;
  }
  
  /* CHATBOT MESSAGE */
  
  .react-chatbot-kit-chat-bot-message-container {
    display: flex;
    margin: 15px 0;
    justify-content: flex-start;
  }
  
  .react-chatbot-kit-chat-bot-avatar-container {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 12.5px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-chatbot-kit-chat-bot-avatar-icon {
    fill: #494646;
    width: 22.5px;
    height: 22.5px;
  }
  
  .react-chatbot-kit-chat-bot-avatar-letter {
    color: #1d1d1d;
  }
  
  .react-chatbot-kit-chat-bot-message {
    background-color: #00A59C;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    text-align: left;
  }
  
  .react-chatbot-kit-chat-bot-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #00A59C;
    position: absolute;
    left: -7px;
    top: 13px;
  }
  
  .react-chatbot-kit-chat-bot-loading-icon-container {
    height: 17px;
    width: 25px;
  }


  /* ------ Load Styling ------ */

  .chatbot-loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  #chatbot-loader #chatbot-loader-dot1 {
    animation: load 1s infinite;
  }
  
  #chatbot-loader #chatbot-loader-dot2 {
    animation: load 1s infinite;
    animation-delay: 0.2s;
  }
  
  #chatbot-loader #chatbot-loader-dot3 {
    animation: load 1s infinite;
    animation-delay: 0.4s;
  }
  

  .modal-buttons {
    position: absolute;
    border-color: #00A59C;
    border-radius: 5px;
    height: auto;
    width: 80px;
    top: 200px;
    right: 10px;
  }

  .toggle-buttons {
    border-style: none;
    background: transparent;
    align-items: center;
    justify-content: center;
  }

  .chatbot-header p {
    position: absolute;
    top: 150px;
    right: 15px;
    font-family: Arial, Verdana, Helvetica;
    color: white;
  }